@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ls32ki');
  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-link-arrow:before {
  content: "\e910";
}
.icon-youtube:before {
  content: "\e90f";
}
.icon-Icon-material-arrow_up:before {
  content: "\e911";
}
.icon-plus:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-info-circle:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-linkedin-in:before {
  content: "\e904";
}
.icon-minus-circle:before {
  content: "\e905";
}
.icon-plus-circle:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e908";
}
.icon-arrow-dropleft-circle:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90a";
}
.icon-arrow-back:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e912";
}
.icon-upload:before {
  content: "\e90c";
}
.icon-user:before {
  content: "\e90d";
}
.icon-envelope:before {
  content: "\e90e";
}

.icon-chevron-right:before {
  content: "\e914";
}
.icon-chevron-left:before {
  content: "\e913";
}


.icon-plus-light:before {
  content: "\e918";
}
.icon-minus:before {
  content: "\e917";
}

.icon-down-arrow:before {
  content: "\e91b";
}
.icon-check:before {
  content: "\e91a";
}
.icon-chat:before {
  content: "\e919";
}

.icon-link:before {
  content: "\e91c";
}
.icon-whatsapp:before {
  content: "\e91d";
}

