@font-face {
    font-family: 'industry-icons';
    src: url('../fonts/industry-icons.eot');
    src: url('../fonts/industry-icons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/industry-icons.woff2') format('woff2'),
         url('../fonts/industry-icons.woff') format('woff'),
         url('../fonts/industry-icons.ttf') format('truetype'),
         url('../fonts/industry-icons.svg#industry-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'industry-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-healthcare:before { content: "\e900"; }
.icon-manufacturing:before { content: "\e901"; }
.icon-engineering:before { content: "\e902"; }
.icon-aviation:before { content: "\e903"; }
.icon-education:before { content: "\e904"; }
.icon-safety:before { content: "\e905"; }
.icon-realestate:before { content: "\e906"; }
.icon-defense:before { content: "\e907"; }