$primary: #5671FD;
$secondary: #22B0A1;
$danger: #ff4136;

// Custom-color
$dark-bg : #20222E !default;
$dark-gray : #323241 !default;
$light-bg : #EDF1F7 !default;
$text-color: #1D1D1D !default;
$title-color: #1D1D1D !default;
$hover :$primary;
$border-color : #E6E6E6 !default;
$text-alt: #282828 !default;
$text-off: #281107 !default;
$white: #fff !default;
$black: #000 !default;
$red: #C60C02 !default;
// Font size
$base-font: 1.6rem !default;
$text-xs: 1rem !default;
$text-sm: 1.2rem !default;
$text-md: 2.3rem !default;
$text-lg: 1.4rem !default;
$ttl-xs: 1.8rem !default;
$ttl-sm: 2.2rem !default;
$ttl-md: 2.3rem !default;
$ttl-lg: 3.2rem !default;
// Font Family
$font-family: 'Oxygen',
sans-serif;
$d-ico: 'deafult-icons' !default;
//button
$font-light:300;
$font-regular:400;
$font-medium:500;
$font-semibold:600;
$font-bold:700;
$font-weight-title : $font-semibold;
// Spacing
$gutter-1: 30px !default; // 30px
$spacing: 50px !default; // 50px.
// zindex
$header-z:999;
$filter-z:99;




$display-font-sizes: (
  1: size(110),
  2: size(65),
  3: size(55),
  4: size(26),
  5: size(18),
  6: size(16)
);



