//begin home-contact-sec
.home-contact-sec{
    position: relative;
    overflow: hidden;
    @include min(1200){
        padding-top: 150px;
    }
    .container{
        z-index: 2;
        position: relative;
    }
    .contact-content-wrap{
        max-width: 560px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .contact-header{
            .h4{
                margin-bottom: var(--res27-20);
                font-size: max(22px, var(--rz40));
                @include max(767.9){
                    font-size: 22px;
                }
            }
            .fz-18{
                @include max(767.9){
                    font-size: 16px;
                }
            }
        }
        .contact-address-wrap{
            padding-top: var(--res30-15);
            @include min(992){
                margin-top: 70px;
            }
        }
    }
    .address-item:not(:nth-last-child(1)){
        margin-bottom: var(--res30-15);
    }
    .address-item{
        @include max(349.9){
            .fz-24{
                font-size: 18px!important;
            }
        }
    }
    // &:before{
    //     content: "";
    //     background-image: radialgradient(#2344DB) , radialgradient(#6804B7), radialgradient(#6804B7);
    //     width: 100%;
    //     height: 800px;
    //     display: block;
    //     position: absolute;
    //     transform: translateX(0%) translateY(60%);
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     margin: auto;
    //     background-size: 750px 750px, 400px 400px, 300px 300px;
    //     background-repeat: no-repeat;
    //     background-position: left 41% bottom 76%,left 35% bottom 72%,left 63% bottom 65%;
    //     opacity: 0.5;
    //     pointer-events: none;
    // }
    @include before(){
        position: absolute;
        left: 0;
        right: 0;
        background-image: url(../../images/home/contact-us-img.png);
        background-size: cover;
        bottom: 0;
        width: vw(1708);
        height: vw(450);
        margin: auto;
    }
}
.contact-form.form-wrap{
    position: relative;
    @include min(992){
        background-color: rgba(#111,8.5%);
        border: 1px solid #FFFFFF38;
        border-radius: 14px;
        opacity: 1;
        padding: 40px 30px;
        // backdrop-filter: blur(33px);
        // -webkit-backdrop-filter: blur(33px);
        
    }
    textarea{
        min-height: 131px;
        @include max(575.9){
            min-height: 100px;
        }
    }
}
.contact-form-wrap{
    width: 100%;
    @include max(991.9){
        background-color: rgba(#ddd,0.05);
        border: 1px solid #FFFFFF38;
        border-radius: 14px;
        padding: 40px 30px;
        margin-top: var(--res60-40);
        p{
            margin-bottom: 0px;
            padding-bottom: 35px;
        }
    }
    @include max(575.9){
        padding: 15px 15px 39px 15px;
        .form-group{
            margin-top: 0px!important;
            margin-bottom: 0px!important;
            .form-control{
                margin-bottom: 12px!important;
            }
        }
    }
    // validation
    .form-group{
        position: relative;
        .error{
            font-size: 12px;
            color: #f33c3c;
            position: absolute;
            bottom: -12px;
            left: 40px;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
            @include max(575.9){
                bottom: -1px;
                font-size: 10px;
            }
        }
    }
    .contact-form.form-wrap{
        .common-success,
        .common-error{
            text-align: center;
            position: absolute;
            width: 100%;
            left: 0;
            font-size: 13px;
            bottom: 13px;
        }
        .common-success{
            color: #00ff62;
        }
        .common-error{
            color: #f33c3c;
        }
    }
    //end validation
}

.form-group{
    .select2.select2-container{
        width: 100%!important;
        .select2-selection--single{
            background-color: #212121;
            border-color: #212121;
            border-radius: 28px;
            font-weight: 500;
            padding: 12px 28px;
            margin-bottom: 7px;
            color: #fff;
            transition: all .3s ease-in;
            // padding: 16px 28px;
            height: auto;
            color: green!important;
            &:focus{
                border-color: rgba(255,255,255,.2);
            }
            .select2-selection__rendered{
                color: white;
                font-size: 14px;
                font-weight: 500;
                padding: 0px;
            }
            .select2-selection__arrow{
                width: 30px;
                b{
                    border: none!important;
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='11.838' height='7.333' viewBox='0 0 11.838 7.333'%3e%3cpath id='Path_34753' data-name='Path 34753' d='M16,16.423l5.212-5.212L16,6' transform='translate(17.13 -15.293) rotate(90)' fill='none' stroke='%23959595' stroke-width='2'/%3e%3c/svg%3e ");
                    background-position: right 15px center;
                    background-repeat: no-repeat;
                    width: 30px;
                    height: 30px;
                    right: 0px;
                    left: 0;
                }
            }
           
            @include max(575.9){
                margin-bottom: 12px;
            }
        }
    }
}
.contact-form.form-wrap{
    @include min-max(576,767.9){
        .form-group{
            margin-top: 9px!important;
        }
    }
}
.contact-form-select{
    background-color: #212121;
    border: 1px solid rgba(255,255,255,.2);
    border-top: 1px solid rgba(255,255,255,.2)!important;
    border-bottom: 1px solid rgba(255,255,255,.2)!important;
    border-radius: 8px;
    padding: 15px 10px;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    li{
        border-radius: 6px;
        font-size: 14px;
        &.select2-results__option--selected{
            background-color: #000;
        
        }
    }
}


//end home-contact-sec