body{
    padding-top: 0px!important;
}

.banner-sec{
    color: $white;
    // padding-top: 120px;
    // padding-bottom: 90px;
    // background-image: url("../../../assets/images/metaverse/service-1/bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-top: 80px;
    @include max(767.98){
        padding-bottom: 30px;
    }
   .h2{
    font-weight: 400;
   }
    &:before{
        content: "";
        opacity: 0.6;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
       
        pointer-events: none;
        top: 0px;
        right: 0;
        
        // background-image:url("../../../assets/images/metaverse/service-1/banner-bg.png");
        background-position: bottom right;
        background-size: cover;
        background-repeat: no-repeat;
        pointer-events: none;
        @include max(767.98){
            top: 0;
            height: 100%;
            background-position: right bottom;
            background-size: contain;
        }
    }
    .banner-body{
        height: 100%;
        display: flex;
        align-items: center;
        height: 100%;
        min-height: 557px;
        @include max(991.98){
            min-height: 400px;
        }
        @include max(575.98){
            min-height: 300px;
        }
    }
    .banner-content{
        width: 100%;
        // max-width: 956px;
        .banner-main-title{
            h5{
                margin-bottom: 20px;
                line-height: 50px;
                text-transform: uppercase;
                @include max(1199.98){
                    font-size: 15px;
                }
                @include max(767.98){
                    font-size: 12px;
                    line-height: 26px;
                    margin-bottom: 8px;
                }
            }
        }
        .banner-sub-heading{
            .h2{
                margin-bottom: 23px;
                line-height: 1.18em;
                @include max(575.98){
                    margin-bottom: 15px;
                }
            }
        }
        .banner-description{
            p{
                max-width: 672px;
                font-size: 20px;
                line-height: 1.65em;
                opacity: 0.9;
                @include max(991.98){
                    font-size: 18px;
                }
                @include max(767.98){
                    font-size: 16px;
                   
                }
            }
        }
    }
}