.metaverse-banner.bg .blog-banner-area {
    display: grid;
    grid-template-columns: 55% 40%;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
    width: 85%;
    margin: auto;
    margin-top: 60px;
}

.automotive .auto-area {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 85%;
    margin: auto;
    align-items: center;
}

.manufacturing .m-title p {
    text-align: center;
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
}

.benefits .shd-benefits-l-b {
    position: absolute;
    right: 0;
    top: 12%;
    bottom: 0;
    z-index: -1;
}

.manufacturing .shd-manufacturing-l-b {
    position: absolute;
    left: -20px;
    top: 52%;
}

.manufacturing .shd-manufacturing-r {
    position: absolute;
    right: 0;
    top: 30%;
}

.why-novac .shd-why-novac-l {
    position: absolute;
    left: -40px;
    top: -85%;
    bottom: 0;
    z-index: -1;
}

.automotive .auto-area .a-text p {
    line-height: 26px;
    width: 85%;
}

.show-desktop {
    display: none;
}

.benefits {
    padding: 50px 0px 0px 0px;
    position: relative;
}

.benefits .benefits-area .b-img {
    text-align: center;
}

.benefits .benefits-area .b-img img {
    width: 90%;
}

@media (min-width: 1024px) {
    .benefits .benefits-area .b-img img {
        width: 90%;
    }
}

@media (min-width: 1200px) {
    .benefits .benefits-area .b-img img {
        width: 80%;
    }
}

@media (min-width: 1400px) {
    .benefits .benefits-area .b-img img {
        width: 65%;
    }
}

@media (min-width: 1200px) {
    .show-desktop {
        display: block;
    }
    .automotive .a-title h2 {
        font-size: 43px;
    }
}

@media(max-width: 767px) {
    .benefits .shd-benefits-l-b {
        display: none;
    }
    .manufacturing .shd-manufacturing-l-b {
        display: none;
    }
    .metaverse-banner.bg .blog-banner-area {
        display: grid;
        grid-template-columns: auto;
        justify-content: flex-end;
        gap: 80px;
        margin-top: 80px;
        width: 100%;
    }
    .automotive .auto-area {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        gap: 30px;
        width: 100%;
    }
    .manufacturing .m-title p {
        text-align: left;
        width: 100%;
        margin: auto;
        padding-bottom: 45px;
    }
    .manufacturing .manufacturing-area {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: 15px;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 40px;
    }
    .automotive .auto-area .a-text p {
        line-height: 26px;
        width: 100%;
    }
    .manufacturing .manufacturing-area.lc {
        display: flex;
        flex-direction: column;
    }
    .manufacturing .manufacturing-area .m-text h3 {
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        font-weight: 600;
    }
}

@media(min-width: 768px) {
    .manufacturing .manufacturing-area {
        margin-bottom: 20px;
        display: flex;
    }
    .manufacturing .manufacturing-area.lc {
        display: flex;
        flex-direction: row;
    }
    .benefits .benefits-area {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap;
    }
    .metaverse-banner.bg .blog-banner-area .bb-cont {
        text-align: left;
    }
}

@media(min-width: 1024px) {
    .metaverse-banner.bg .blog-banner-area h2 {
        display: block;
    }
}