.popup {
    display: none;
    /* Hidden by default */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    /* Makes sure the popup is on top */
    justify-content: center;
    align-items: center;
}

.popup-content {
    text-align: center;
    position: relative;
    width: 40%;
    margin-top: 90px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    color: #ffffff6b;
}

/* Optional: Style the image */

.popup-content img {
    max-width: 100%;
    height: auto;
}

@media(max-width: 767px) {
    .popup-content {
        text-align: center;
        position: relative;
        width: 80%;
    }
}