@import '../mixins/page-includes';


@import './components/contact-sec';

@import './components/service-listing';

@import './components/novac-card';
// P{
//     margin: 0;
// }
.fz-45{
    font-size: 45px;

    @include max(1199.98){
        font-size: 33.5px;
    }
    @include max(767.98){ 
        font-size: 22px;
    }
}
.fz-35{
    font-size: 35px;
}
.fz-26{
    font-size: 26px;
}


.banner-sec{
    color: $white;
    // padding-top: 120px;
    // padding-bottom: 90px;
    background-image: url("../../../assets/images/metaverse/service-1/bg.png");
    background-repeat: no-repeat;
    background-position: right  0 bottom;
    position: relative;
    overflow: hidden; 
    height: 100%; 

    @include max(1199.98){
        background-position: left  0 bottom;
    }
    @include max(767.98){
        background-size: cover;   
        padding-bottom: 0;   
    }
   
    &:before{

        content: "";
        opacity: 1;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
       
        pointer-events: none;
        
        right: 0;
        
        background-image:url("../../../assets/images/metaverse/service-2/png/bg.png");
          
        background-repeat: no-repeat;
        pointer-events: none;
        @include max(767.98){
            top: 0;
            height: 100%;
            background-position: right -300px bottom 0;
            background-size: cover;
        }
    }
    .banner-body{
        height: 100%;
        display: flex;
        align-items: center;
        height: 100%;
        min-height: 557px;
        @include max(575.98){
            min-height: 333px;
        }
    }
    .banner-content{
        width: 100%;
        max-width: 956px;
        .banner-main-title{
            h5{
                margin-bottom: 20px;
                line-height: 50px;
                text-transform: uppercase;
                @include max(1199.98){
                    font-size: 15px;
                }
                @include max(767.98){
                    font-size: 12px;
                    line-height: 26px;
                    margin-bottom: 5px;
                }
            }
        }
        .banner-sub-heading{
            .h2{
                margin-bottom: 27px;
                line-height: 1.1846153846153846em;
                
                @include max(767.98){
                    margin-bottom: 55px;
                }
                br{
                    @include max(767.98){
                        display: none;
                    }
                }
            }
        }
        .banner-description{
            .banner-desc{
                br{
                   @include max(767.98){
                       display: none;
                   }
                }
           }
            p{
                max-width: 672px;
                font-size: 20px;
                line-height: 1.65em;
                @include max(991.98){
                    font-size: 18px;
                }
                @include max(767.98){
                    font-size: 16px;
                   
                }
            }
        }
    }
}

//metaverse-oppurtunity-section

.metaverse-opportunity-sec{
    position: relative;
    background-position: 100% 50%;
    &::before{
        content: "";
        opacity: 1;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
       
        pointer-events: none;
        top: 0px;
        right: 0;
        
        background-image:url("../../../assets/images/metaverse/service-1/bg-gradient-2.png");
        background-position: left bottom;
        background-size: contain;
        background-repeat: no-repeat;
        pointer-events: none;

        @include max(1199.98){
            opacity: 0.6;
        }
        @include max(767.98){
            display: none;
        }
    }
}

.metaverse-div-service1{
    background-image: url("../../../assets/images/metaverse/service-1/bg2.png");
    // background-repeat: no-repeat;
}
.metaverse-opportunity-sec{
    color: $white;
    .metaverse-title{
        display: flex;
        justify-content: center;
        padding-bottom: 83px;

        @include max(767.98){
            padding-bottom: 53px;
        }
       
    }
    .h5{
        text-align: center;
        max-width: 986px;
        line-height: 1.3333333333333333em;

        span{
            @include primarygradient(180deg);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        } 
        @include max(1199.98){
            font-size: 33.5px;
        }
        @include max(767.98){           
            font-size: 22px;
            line-height: 33px;
        }     
    }
}

.meta-content{
   

    .meta-description{
        .h4{
            line-height: 51px;
            margin-bottom: 27px;
            @include max(1199.98){
                line-height: 42px;
                font-size: 31px;
            }
            @include max(767.98){
                line-height: 33px;
                font-size: 22px;
                margin-bottom: 51px;
            }
        }
        .p{
            font-size: 20px;
            line-height: 1.65em;
            margin: 0;
            @include max(991.98){
                font-size: 18px;
            }
            @include max(767.98){
                font-size: 16px;
               
            }
        }
        // .desktop-content{
        //     @include max(767.98){
        //         display: none;
        //     }
        // }
        // .responsive-content{
        //     display: none;
            
        //     @include max(767.98){
        //         display: block;
        //     }
        //     .responsive-desc{
        //         &:nth-of-type(1){
        //             margin-bottom: 20px;
        //         }
        //         &:nth-last-of-type(1){
        //             margin: 0;
        //         }
                
        //     }
        // }
    }

    .meta-link{
         padding-top: 40px;
         @include max(767.98){
            padding-top: 30px;
         }
        a{
           
            font-size: 16px;
            @include max(1199.98){
                font-size: 13px;
            }
            @include max(767.98){
                font-size: 12px;
            }
            span{
                padding-left: 10px;
                font-size: 12px;
            }
        }
    }
}



//why-choose-novac-sec
.wc-novac-title{
    text-align: center;
    padding-bottom: 80px;

    @include max(767.98){
      
        padding-bottom: 30px;
    }
    .novac-heading{
        .h3{
            line-height: 1.018181818181818em;
            margin: 0;

            @include max(1199.98){
                font-size: 41.5px;
            }
            @include max(767.98){
                font-size: 28px;
            }
            
            
        }
        
    }
    .novac-detail{
        width: 100%;
        max-width: 671px;
        margin: 0 auto;
        padding-top: 25px;
        p{
            line-height: 1.6666666666666667em;
            @include max(767.98){
                font-size: 16px;
                line-height: 26px;
            }
        }
    }

}





